<section class="h-100" style="background-color:white;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="card rounded-3 mb-4" *ngFor="let cart of cartItem;">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img [src]="'data:image/png;base64,'+cart.img" class="img-fluid rounded-3" alt="Cotton T-shirt"
                  style="height: 50px;" (click)="GetProduct(cart.productId)">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{cart.name}}</p>
                <p><span class="text-muted">{{cart.measurment}} </span>{{cart.mesurmentValue}} <span class="text-muted">
                  </span>{{cart.color}}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <input id="form1" min="1" max="10" name="quantity" value="{{cart.quantity}}" type="number"
                  class="form-control form-control-sm" readonly style="text-align: center;" />
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">₹{{cart.price | number}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <i class='bx bx-trash text-danger' mwlConfirmationPopover [popoverMessage]="popOverMessage"
                  placement="left" (confirm)="DeleteCart(cart.id)" (cancel)="cancelClicked = true"
                  style="font-size: 25px;">
                </i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>