<section class="h-100" style="background-color:white;">
    <div class="container h-100 py-5">
        <div style="margin-left: 620px; margin-top: 200px; margin-bottom: 200px;" *ngIf="loading == true">
            <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="card rounded-3 mb-4" *ngFor="let order of customerOrder">
                    <div class="card-body p-4">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                                <img loading="eager" [src]="'data:image/png;base64,' + order.img"
                                    class="img-fluid rounded-3" alt="Cotton T-shirt" style="height: 140px;">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2">{{order.name}}</p>
                                <p><span class="text-muted">Qty </span>: <span class="text-muted">
                                    </span>{{order.quantity}} item</p>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h5 class="mb-0">₹{{order.amount | number}}</h5><small style="font-weight: 
                                20px;color: gray;">Via ({{order.paymentMethod}})</small>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <a class="text-danger"><i class='bx bx-trash' style="font-size: 25px;"
                                        mwlConfirmationPopover [popoverMessage]="popOverMeasage" placement="left"
                                        (confirm)="DeleteOrder(order.id)" (cancel)="cancelClicked = true"></i></a>
                            </div>
                        </div>
                        <div class="container py-5 h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col">
                                    <div
                                        class="d-flex flex-row justify-content-between align-items-center align-content-center">
                                        <span class=" d-flex justify-content-center align-items-center big-dot dot">
                                            <i class="fa fa-check text-white"
                                                *ngIf="order.status=='Not Delivered'  || order.status == 'On Way' || order.status == 'Completed' "></i></span>
                                        <hr class="flex-fill track-line">
                                        <hr class="flex-fill track-line"><span
                                            class=" d-flex justify-content-center align-items-center big-dot dot">
                                            <i class="fa fa-check text-white"
                                                *ngIf="order.status=='On Way' || order.status == 'Completed'"></i>
                                        </span>
                                        <hr class="flex-fill track-line">
                                        <hr class="flex-fill track-line"><span
                                            class="d-flex justify-content-center align-items-center big-dot dot">
                                            <i class="fa fa-check text-white" *ngIf="order.status == 'Completed'"></i>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="d-flex flex-column align-items-start"><span>Order
                                                placed</span>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center"><span>On way</span></div>
                                        <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="card-header p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="text-muted mb-2"> Order ID <span
                                            class="fw-bold text-body">{{order.id}}</span></p>
                                    <p class="text-muted mb-0"> Place On <span
                                            class="fw-bold text-body">{{order.orderDate | date}}</span> </p>
                                </div>
                                <div>

                                    <p class="text-muted mb-2"> Total: <span class="fw-bold text-body;"
                                            style="float: right;">₹{{order.amount | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="py-6 py-lg-8 py-xxl-16" *ngIf="customerOrder.length == 0 && loading== false"
        style="margin-top: 40px; margin-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
                    <!-- image -->
                    <img loading="eager" src="../../assets/no orders.png" alt="bag" class="img-fluid mb-4"
                        style="height: 200px;">
                    <!-- content -->
                    <h2>No order found</h2>
                    <p class="mb-4">
                        Looks like you haven't made your order yet!!!
                    </p>
                    <a routerLink="/home" class="btn btn-primary">Explore Products</a>
                </div>
            </div>
        </div>
    </section>