.track-line {
    height: 2px !important;
    background-color: #488978;
    opacity: 1;
    }
    
    .dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: #488978;
    border-radius: 50%;
    display: inline-block
    }
    
    .big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #488978;
    border-radius: 50%;
    display: inline-block;
    }
    
    .big-dot i {
    font-size: 12px;
    }
    
    .card-stepper {
    z-index: 0
    }