<form class="form-horizontal" [formGroup]="addsaleform">
    <fieldset>
        <!-- Form Name -->
        <legend>Sale</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sale_name">SALE NAME</label>
            <div class="col-md-4">
                <input name="sale_name" placeholder="SALE NAME" class="form-control input-md" type="text"
                    formControlName="name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="sale_startDate">Start Date</label>
            <div class="col-md-4">
                <input name="sale_startDate" class="form-control input-md" type="date" formControlName="startDate">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="sale_endDate">End Date</label>
            <div class="col-md-4">
                <input name="sale_endDate" class="form-control input-md" type="date" formControlName="endDate">
            </div>
        </div>

        <!-- <Button> -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Add Brand</label>
            <div class="col-md-4">
                <button name="singlebutton" class="btn btn-primary" (click)="addsale()">Add +</button>
            </div>
        </div>