<!--Main Navigation-->
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center border-bottom" style="background-color: whitesmoke; height: 90px;">
        <div class="container">
            <div class="row gy-3">
                <!-- Left elements -->
                <div class="col-lg-2 col-sm-4 col-4">
                    <a target="_blank" class="float-start">
                        <i class='bx bxs-shopping-bags' style="font-size: 45px;">
                            <p style="font-size: 20px;">ShopCart.in</p>
                        </i>
                    </a>
                </div>
                <!-- Left elements -->

                <!-- Center elements -->
                <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                    <div class="d-flex float-end ">
                        <a class="me-1 border rounded
                             clasunded py-1 px-3 nav-link d-flex align-items-center rounded function-btn">
                            <i class='bx bx-purchase-tag' style="font-size: 28px;"></i>
                            <p class="d-none d-md-block mb-0" style="font-weight: 100;">Orders</p>
                        </a>
                        <!-- <sup>
                            <i class='bx bx-cart  me-1 py-1 px-3 nav-link d-flex align-items-center'
                                style="font-size: 35px;"><span style="font-size: 20px;">order</span></i>
                        </sup> -->

                        <a class="border rounded py-1 px-3 nav-link d-flex align-items-center function-btn">
                            <i class='bx bx-cart' style="font-size: 30px;"></i>
                            <p class="d-none d-md-block mb-0" style="font-weight: 100;">Cart</p>
                        </a>
                    </div>
                </div>
                <!-- Center elements -->

                <!-- Right elements -->
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="input-group float-center">
                        <!-- <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search</label>
              </div> -->
                        <!-- <button type="button" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button> -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <!-- <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button> -->
                                <select class="btn btn-outline-secondary dropdown-toggle item-hover"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="border-radius: 5px 0px 0px 5px;">
                                    <option class="list-item">All</option>
                                    <option class="list-item" value="">c</option>
                                    <option class="list-item" value="">c</option>
                                    <option class="list-item" value="">z</option>
                                    <option class="list-item" value="">x</option>
                                    <option class="list-item" value="">z</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <button type="button" class="btn btn-primary shadow-0">
                                <i class='bx bx-search'></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Right elements -->
            </div>
        </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-ligh" style="background-color: darkcyan; ">
        <!-- Container wrapper -->
        <div class="container justify-content-center justify-content-md-between nav-color">
            <!-- Toggle button -->
           

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" style="color: whitesmoke;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Hot offers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Gift boxes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Menu item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Menu name</a>
                    </li>
                    <!-- Navbar dropdown -->
                    <!-- <li class="nav-item dropdown"> -->
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Others
                        </a> -->
                        <!-- Dropdown menu -->
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul> -->
                    <!-- </li> -->
                </ul>
                <!-- Left links -->
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- Jumbotron -->
    <!-- <div class="bg-primary text-white py-5">
        <div class="container py-5">
            <h1>
                Best products & <br />
                brands in our store
            </h1>
            <p>
                Trendy Products, Factory Prices, Excellent Service
            </p>
            <button type="button" class="btn btn-outline-light">
                Learn more
            </button>
            <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
                <span class="pt-1">Purchase now</span>
            </button>
        </div>
    </div> -->
    <!-- Jumbotron -->
</header>