<div>
    <div class="top-nav">
        <div class="top-nav-div">
            <i class='bx bx-phone' style="color: white; font-size: large; margin-top: 2px;"></i>
            <span class="top-nav-content" style="color: #ede1e1;"> (+91) 9510101257</span>
        </div>
        <div style="display: inline-block; width: 600px;text-align: right;">
            <i class='bx bx-envelope' style="color: white;"></i>
            <span style="color: #ede1e1;">mansurifaizan315&#64;gmail.com</span>
        </div>
    </div>
    <div class="header-nav">
        <div class="logo">
            <i class='bx bxs-shopping-bags' style="font-size: 45px;"></i>
            <span
                style="position: relative;font-size: 30px;font-family: var(--tp-ff-roboto);font-weight: 700;top: 10px;">
                Shofy
            </span>

            <div class="search-bar">
                <div>
                    <div class="input-group mb-3 " style="border: 2px solid blue; border-radius: 3px;">
                        <input type="text" name="search-product" class="form-control"
                            aria-label="Text input with dropdown button" #inputvalue
                            placeholder="Search for products...">
                        <button type="button" class="btn btn-primary shadow-0" style="border-radius: 0px;"
                            (click)="onSearch(inputvalue.value)">
                            <i class='bx bx-search'></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header-icons">
                <a class="text-reset me-3" routerLink="/whishlist">
                    <span><i class='bx bxs-heart' style="font-size: 30px;"></i></span>
                    <span class="badge rounded-pill badge-notification bg-danger"> {{whishlistCount}}</span>
                </a>
                <a class="text-reset me-3" routerLink="/cart">
                    <span><i class="fas fa-shopping-cart" style="font-size: 30px;"></i></span>
                    <span class="badge rounded-pill badge-notification bg-danger">{{cartCount}}</span>
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light "
            style="background-color: white; border-top: 1px solid black;box-shadow: 0 2px 6px #010f1c29; z-index: 11;">

            <div class="container justify-content-center justify-content-md-between">

                <ul class="navbar-nav flex-row ">
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block ">
                        <a class="nav-link nav-color" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                        <a class="nav-link nav-color" href="#">Blog</a>
                    </li>
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                        <a class="nav-link nav-color" routerLink="/contact">Contact</a>
                    </li>
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                        <a class="nav-link nav-color" routerLink="/order">Myorder</a>
                    </li>
                </ul>
                <div style="margin-left: 890px; list-style: none;">
                    <li class="nav-item ">
                        <a class="nav-link" style="color: black;" routerLink="/profile">
                            <i class='bx bxs-user-circle nav-color' style="font-size: 32px;"></i></a>
                    </li>
                </div>
                <li class="nav-item nav-color" style="list-style: none; margin-left: 30px;">
                    <i class='bx bx-log-out-circle nav-color' mwlConfirmationPopover [popoverMessage]="popOverMessage"
                        placement="bottom" (confirm)="logout()" (cancel)="cancleClicked = true"
                        style="font-size: 30px; margin-top: 2px; "></i>
                </li>
            </div>
        </nav>
    </div>