<!-- <header>
    <div class="p-3 text-center border-bottom" style="background-color: whitesmoke; height: 90px;">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-2 col-sm-4 col-4">
                    <a target="_blank" class="float-start">
                        <i class='bx bxs-shopping-bags' style="font-size: 45px;">
                            <p style="font-size: 20px;">Shofy.in</p>
                        </i>
                    </a>
                </div>
                <div class="order-lg-last col-lg-5 col-sm-8 col-8 font">
                    <div class="d-flex float-end ">
                        <a class="me-1 border rounded
                             clasunded py-1 px-3 nav-link d-flex align-items-center rounded function-btn"
                            routerLink="/order">
                            <i class='bx bx-purchase-tag' style="font-size: 28px;"></i>
                            <p class="d-none d-md-block mb-0"
                                style="line-height: 18px; float: left;text-align: left;font-size: 14px;">
                                <span
                                    style="background-color: #0d6efd; color: white; border-radius: 2px;font-size: 12px; padding:0px 5px; font-weight: 100;">
                                    {{orderCount}} Items</span> <br>ORDERS
                            </p>
                        </a>
                        <a class="border rounded py-1 px-3 nav-link d-flex align-items-center function-btn"
                            routerLink="/cart">
                            <i class='bx bx-cart' style="font-size: 30px; font-weight: 100;"></i>
                            <p class="d-none d-md-block mb-0"
                                style="line-height: 18px; float: left;text-align: left;font-size: 15px;">
                                <span
                                    style="background-color: #0d6efd; color: white; border-radius: 2px;font-size: 12px; padding:0px 5px; font-weight: 100;">
                                    {{
                                    cartCount}} items</span> <br>CART
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="input-group float-center">
                        <div class="input-group mb-3 " style="border: 3px solid blue; border-radius: 7px 8px 8px 7px;">
                            <div class="input-group-prepend">
                                <select class="btn-click btn " aria-expanded="false"
                                    style="border-radius: 5px 0px 0px 5px; width: 120px;">
                                    <option class="list-item">All</option>
                                    <option *ngFor="let item of category" style="text-align: left;"> {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <button type="button" class="btn btn-primary shadow-0">
                                <i class='bx bx-search'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-ligh" style="background-color: darkcyan; ">
        <div class=" justify-content-center justify-content-md-between nav-color">
            <div class="collapse navbar-collapse nav-hover">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" style="margin-left: 20px;">
                        <a class="nav-link" aria-current="page" style="color: whitesmoke;" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item list-width">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Categories</a>
                    </li>
                    <li class="nav-item list-width">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Hot offers</a>
                    </li>
                    <li class="nav-item list-width">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Gift boxes</a>
                    </li>
                    <li class="nav-item list-width">
                        <a class="nav-link" href="#" style="color: whitesmoke;">Projects</a>
                    </li>
                    <li class="nav-item list-width"> 
                        <a class="nav-link" routerLink="/contact" style="color: whitesmoke;">ContactUs</a>
                    </li>
                    <div style="margin-left: 890px;">
                        <li class="nav-item">
                            <a class="nav-link" style="color: whitesmoke;" routerLink="/profile">
                                <i class='bx bxs-user-circle' style="font-size: 32px;"></i></a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <i class='bx bx-log-out-circle nav-link' mwlConfirmationPopover
                            [popoverMessage]="popOverMessage" placement="left" (confirm)="logout()"
                            (cancel)="cancleClicked = true"
                            style="font-size: 30px; margin-top: 2px; color: whitesmoke;"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> -->

<!-- <header>
    <div class="p-3 text-center  border-bottom" style="background-color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0"
                    style="width: 283px; height: 60px;">
                    <div class="col-lg-2 col-sm-4 col-4">
                        <a target="_blank" class="float-start">
                            <i class='bx bxs-shopping-bags' style="font-size: 45px;">
                                <p style="font-size: 20px;">Shofy.in</p>
                            </i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12" style="width: 580px; height: 40px;">
                    <div class="input-group float-center">
                        <div class="input-group mb-3 " style="border: 3px solid blue; border-radius: 7px 8px 8px 7px;">
                            <div class="input-group-prepend">
                                <select class="btn-click btn " aria-expanded="false"
                                    style="border-radius: 5px 0px 0px 5px; width: 120px;">
                                    <option class="list-item">All</option>
                                    <option *ngFor="let item of category" style="text-align: left;"> {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <button type="button" class="btn btn-primary shadow-0">
                                <i class='bx bx-search'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
                    <div class="d-flex">
                        <a class="text-reset me-3" routerLink="/whishlist">
                            <span><i class='bx bxs-heart' style="font-size: 20px;"></i></span>
                            <span class="badge rounded-pill badge-notification bg-danger"> {{whishlistCount}}</span>
                        </a>
                        <a class="text-reset me-3" routerLink="/cart">
                            <span><i class="fas fa-shopping-cart" style="font-size: 20px;"></i></span>
                            <span class="badge rounded-pill badge-notification bg-danger">{{cartCount}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(67, 60, 60);">
        
        <div class="container justify-content-center justify-content-md-between">
            
            <ul class="navbar-nav flex-row ">
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block ">
                    <a class="nav-link nav-color" routerLink="/home">Home</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link nav-color" href="#">Inspirations</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link nav-color" href="#">Blog</a>
                </li>
                <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                    <a class="nav-link nav-color" routerLink="/contact">Contact</a>
                </li>
            </ul>
            <div style="margin-left: 890px; list-style: none;">
                <li class="nav-item ">
                    <a class="nav-link" style="color: black;" routerLink="/profile">
                        <i class='bx bxs-user-circle nav-color' style="font-size: 32px;"></i></a>
                </li>
            </div>
            <li class="nav-item nav-color" style="list-style: none;">
                <i class='bx bx-log-out-circle nav-color' mwlConfirmationPopover [popoverMessage]="popOverMessage"
                    placement="bottom" (confirm)="logout()" (cancel)="cancleClicked = true"
                    style="font-size: 30px; margin-top: 2px; "></i>
            </li>
        </div>
    </nav> -->
<div>
    <div class="top-nav">
        <div class="top-nav-div">
            <i class='bx bx-phone' style="color: white; font-size: large; margin-top: 2px;"></i>
            <span class="top-nav-content" style="color: #ede1e1;"> (+91) 9510101257</span>
        </div>
        <div style="display: inline-block; width: 600px;text-align: right;">
            <i class='bx bx-envelope' style="color: white;"></i>
            <span style="color: #ede1e1;">mansurifaizan315&#64;gmail.com</span>
        </div>
    </div>
    <div class="header-nav">
        <div class="logo">
            <i class='bx bxs-shopping-bags' style="font-size: 45px;"></i>
            <span
                style="position: relative;font-size: 30px;font-family: var(--tp-ff-roboto);font-weight: 700;top: 10px;">
                Shofy
            </span>

            <div class="search-bar">
                <div>
                    <div class="input-group mb-3 " style="border: 2px solid blue; border-radius: 3px;">
                        <!-- <div class="input-group-prepend">
                            <select class="btn-click btn " aria-expanded="false"
                                style="border-radius: 5px 0px 0px 5px; width: 120px;">
                                <option class="list-item">All</option>
                                <option *ngFor="let item of category" style="text-align: left;"> {{item.name}}
                                </option>
                            </select>
                        </div> -->

                        <input type="text" name="search-product" class="form-control"
                            aria-label="Text input with dropdown button" #inputvalue
                            placeholder="Search for products...">
                        <button type="button" class="btn btn-primary shadow-0" style="border-radius: 0px;"
                            (click)="onSearch(inputvalue.value)">
                            <i class='bx bx-search'></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="header-icons">
                <a class="text-reset me-3" routerLink="/whishlist">
                    <span><i class='bx bxs-heart' style="font-size: 30px;"></i></span>
                    <span class="badge rounded-pill badge-notification bg-danger"> {{whishlistCount}}</span>
                </a>
                <a class="text-reset me-3" routerLink="/cart">
                    <span><i class="fas fa-shopping-cart" style="font-size: 30px;"></i></span>
                    <span class="badge rounded-pill badge-notification bg-danger">{{cartCount}}</span>
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light "
            style="background-color: white; border-top: 1px solid black;box-shadow: 0 2px 6px #010f1c29; z-index: 11;">

            <div class="container justify-content-center justify-content-md-between">

                <ul class="navbar-nav flex-row ">
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block ">
                        <a class="nav-link nav-color" routerLink="/home">Home</a>
                    </li>
                    <!-- <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                        <a class="nav-link nav-color" href="#">Inspirations</a>
                    </li> -->
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                        <a class="nav-link nav-color" href="#">Blog</a>
                    </li>
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                        <a class="nav-link nav-color" routerLink="/contact">Contact</a>
                    </li>
                    <li class="nav-item me-2 me-lg-0 d-none d-md-inline-block">
                        <a class="nav-link nav-color" routerLink="/order">Myorder</a>
                    </li>
                </ul>
                <div style="margin-left: 890px; list-style: none;">
                    <li class="nav-item ">
                        <a class="nav-link" style="color: black;" routerLink="/profile">
                            <i class='bx bxs-user-circle nav-color' style="font-size: 32px;"></i></a>
                    </li>
                </div>
                <li class="nav-item nav-color" style="list-style: none; margin-left: 30px;">
                    <i class='bx bx-log-out-circle nav-color' mwlConfirmationPopover [popoverMessage]="popOverMessage"
                        placement="bottom" (confirm)="logout()" (cancel)="cancleClicked = true"
                        style="font-size: 30px; margin-top: 2px; "></i>
                </li>
            </div>
        </nav>
    </div>