<mat-sidenav-container>
    <mat-sidenav mode="side" opened="">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bx-menu'></i>
                    <div class="logo_name">E-Commerce</div>
                </div>
                <!-- <i class='bx bx-menu btn'></i> -->
            </div>
            <ul class="nav_list">
                <li class="Active"><a routerLink="/customers"><i class='bx bx-user'></i> <span class="links_name">
                            Customer</span></a></li>
                <li class="Active"><a routerLink="/orders"> <i class='bx bx-cart-download' ></i>
                        <span class="links_name"> Order </span></a></li>
                <li class="Active"><a routerLink="/product"> <i class='bx bx-package'></i> <span class="links_name">
                            product </span></a></li>
                <li class="Active"><a routerLink="/category"> <i class='bx bx-category'></i> <span class="links_name">
                            Category</span></a></li>
                <li class="Active"><a routerLink="/brand"> <i class='bx bx-purchase-tag'></i> <span class="links_name">
                            Brand </span></a></li>
                <li class="Active"><a routerLink="/sale"><i class='bx bxs-offer'></i> <span class="links_name"> Sale
                        </span></a></li>
            </ul>
            <div class="profile_content">
                <div class="profile">
                    <div class="profile_details">
                       <!-- <ul>
                        <li class="inline"><i class='bx bxl-instagram' ></i></li>
                        <li class="inline"><i class='bx bxl-whatsapp' ></i></li>
                        <li class="inline"><i class='bx bxl-facebook-circle' ></i></li>
                       </ul> -->
                        <div class="name_job">
                          
                        </div>
                    </div>
                    <!-- <i class='bx bx-log-out' ></i> -->
                </div>
            </div>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <ul>
    <li class="Active"><a routerLink="/customers">Customers</a></li>
    <li class="Active"><a routerLink="/orders">Orders</a></li>
    <li class="Active"><a routerLink="/product">product</a></li>
    <li class="Active"><a routerLink="/category">Category</a></li>
    <li class="Active"><a routerLink="/brand">Brand</a></li>
    <li class="Active"><a routerLink="/sale">Sale</a></li>
</ul> -->