<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<aside id="sidebar" class="sidebar ">

    <ul class="sidebar-nav " id="sidebar-nav">

        <li class="nav-item ">
            <a class="nav-link collapsed" routerLink="/dashboard">
                <i class='bx bxs-dashboard bi bi-grid '></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"
                routerLink="/order">
                <!-- <i class=""></i> -->
                <i class='bx bx-cart-download bi bi-menu-button-wide'></i>
                <span>Order</span>
            </a>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" routerLink="/customer">
                <!-- <i class=""></i> -->
                <i class='bx bx-user bi bi-menu-button-wide'></i>
                <span>Customer</span>
            </a>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" routerLink="/product">
                <i class='bx bx-package bi bi-journal-text'></i>
                <span>Product</span>
            </a>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/category">

                <i class='bx bx-category bi bi-layout-text-window-reverse'></i>
                <span>Category</span>
            </a>
        <li class="nav-item ">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" routerLink="/brand">
                <i class='bx bx-purchase-tag bi bi-bar-chart'></i>
                <span>Brand</span>
            </a>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" routerLink="/sale">
                <!-- <i class=""></i> -->
                <i class='bx bxs-offer bi bi-gem'></i>
                <span>Sale</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
        <!-- <li class="nav-item">
            <a class="nav-link collapsed" href="">
                <i class="bi bi-file-earmark"></i>
                <span>Blank</span>
            </a>
        </li>End Blank Page Nav -->

    </ul>

</aside><!-- End Sidebar-->