<p>orderlist works!</p>

<!-- <table border="1">
    <thead>
       
        <tr>
            <td><button type="button" (click)="remove(customer.id)">Remove</button></td> -->
<!-- </tr>
    </thead>
</table> -->
<!-- <table class="table">
    <thead class="thead-dark">
        <tr>
            <td>Id</td>
            <td>Customer</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Product</td>
            <td>Method</td>
            <td>O-Date</td>
            <td>C-Address</td>
            <td>O-Address</td>
            <td>D-Date</td>
            <td>D-Charge</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderList ">
            <td>{{order.id}}</td>
            <td>{{order.customerId}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.productId }}</td>
            <td>{{order.paymentMethod}}</td>
            <td>{{order.orderDate | date}}</td>
            <td>{{order.deliveryAddress}}</td>
            <td>{{order.billingAddress}}</td>
            <td>{{order.deliveryDate | date}}</td>
            <td>{{order.deliveryCharge}}</td>
            <td>{{order.status}}</td>
       
      </tr>
    </tbody>
  </table> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">OrderId</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList ">
      <!-- <th scope="row">1</th> -->
      <td>{{order.orderDate | date}}</td>
      <td>{{order.id}}</td>
      <td>{{order.customerId}}</td>
      <td> {{order.amount}} </td>
      <td>{{order.quantity}}</td>
      <td>{{order.amount * order.quantity}}</td>
      <!-- <td>{{customer.address}}</td> -->
      <!-- <td><button type="button" (click)="remove(order.id)">Remove</button></td> -->

    </tr>
  </tbody>
</table>