<form class="form-horizontal" [formGroup]="updatecategoryform">
    <fieldset>

        <!-- Form Name -->
        <legend>Category</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="category_name">CATEGORY NAME</label>
            <div class="col-md-4">
                <input name="category_name" placeholder="CATEGORY NAME" class="form-control input-md" type="text"
                    formControlName="name">
            </div>
        </div>

        <!-- <Button> -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Add CATEGORY</label>
            <div class="col-md-4">
                <button name="singlebutton" class="btn btn-primary" (click)="updatecategory()">Update +</button>
            </div>
        </div>