<!-- <main id="main" class="main">
  <form class="form-horizontal" [formGroup]="ProductForm">
    <fieldset> -->

<!-- Form Name -->
<!-- <legend>PRODUCTS</legend> -->
<!-- 
      <div class="form-group">
        <label class="col-md-4 control-label" for="filebutton">main_image</label>
        <div class="col-md-4">
          <input name="filebutton" class="input-file" type="file" formControlName="img">
        </div>
      </div> -->
<!-- Text input-->
<!-- <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
        <div class="col-md-4">
          <input name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" type="text"
            formControlName="name">
        </div>
      </div> -->

<!-- Text input-->
<!-- <div class="form-group">
        <label class="col-md-4 control-label" for="CategoryId"> Category ID </label>
        <div class="col-md-4">
          <input name="CategoryId" placeholder=" Category ID " class="form-control input-md" type="text"
            formControlName="categoryId">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
        <div class="col-md-4">
          <input class="form-control" name="description" formControlName="description">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="price">
        </label>
        <div class="col-md-4">
          <input name="price" placeholder="price" class="form-control input-md" type="text" formControlName="price">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="percentage_discount">PERCENTAGE DISCOUNT</label>
        <div class="col-md-4">
          <input name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" type="text"
            formControlName="discount">
        </div>
      </div> -->

<!-- Text input-->
<!-- <div class="form-group">
        <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>
        <div class="col-md-4">
          <input name="available_quantity" placeholder="AVAILABLE QUANTITY" class="form-control input-md" type="text"
            formControlName="quantity">
        </div>
      </div> -->

<!-- Search input-->
<!-- <div class="form-group">
        <label class="col-md-4 control-label" for="color">Color</label>
        <div class="col-md-4">
          <input name="color" placeholder="color" class="form-control input-md" type="search" formControlName="color">
        </div>
      </div> -->

<!-- Text input-->
<!-- <div class="form-group">
        <label class="col-md-4 control-label" for="online_date">Measurment</label>
        <div class="col-md-4">
          <input name="Measurment" placeholder="Measurment" class="form-control input-md" type="text"
            formControlName="measurment">
        </div>
      </div> -->

<!-- Text input-->
<!-- <div class="form-group">
        <label class="col-md-4 control-label" for="M_value">Measurment Value</label>
        <div class="col-md-4">
          <input name="author" placeholder="Measurment Value" class="form-control input-md" type="text"
            formControlName="mesurmentValue">
        </div>
      </div> -->

<!-- Text input-->
<!-- <div class="form-group">
        <label class="col-md-4 control-label" for="brandId">Brand Id</label>
        <div class="col-md-4">
          <input name="brandId" placeholder="Brand Id" class="form-control input-md" type="text"
            formControlName="brandId"> <br> -->


<!-- Button -->
<!-- <div class="form-group">
            <label class="col-md-4 control-label" for="singlebutton">Add Product</label>
            <div class="col-md-4">
              <button name="singlebutton" class="btn btn-primary" (click)="AddProduct()">Add +</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</main> -->
<!-- <a routerLink="/product/listproduct">List</a>  -->


<!-- <main id="main" class="main">
  <div class="pagetitle">
        <h1>Add Product</h1></div>
  <div class="col-12">
    <div class="card recent-sales overflow-auto">
      <div class="container tm-mt-big tm-mb-big">
        <div class="row">
          <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
              <div class="row">
                
              </div>
              <div class="row tm-edit-product-row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                  <form action="" class="tm-edit-product-form">
                    <div class="form-group mb-3">
                      <label for="name">Product Name
                      </label>
                      <input id="name" name="name" type="text" class="form-control validate" required />
                    </div>
                    <div class="form-group mb-3">
                      <label for="description">Description</label>
                      <textarea class="form-control validate" rows="3" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                      <label for="category">Category</label>
                      <select class="custom-select tm-select-accounts" id="category">
                        <option selected>Select category</option>
                        <option value="1">New Arrival</option>
                        <option value="2">Most Popular</option>
                        <option value="3">Trending</option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="expire_date">Expire Date
                        </label>
                        <input id="expire_date" name="expire_date" type="text" class="form-control validate"
                          data-large-mode="true" />
                      </div>
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label for="stock">Units In Stock
                        </label>
                        <input id="stock" name="stock" type="text" class="form-control validate" required />
                      </div>
                    </div>


                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                      <div class="tm-product-img-dummy mx-auto">
                        <i class="fas fa-cloud-upload-alt tm-upload-icon"
                          onclick="document.getElementById('fileInput').click();"></i>
                      </div>
                      <div class="custom-file mt-3 mb-3">
                        <input id="fileInput" type="file" style="display:none;" />
                        <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                          onclick="document.getElementById('fileInput').click();" />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->

<!-- <main id="main" class="main">
  <div class="pagetitle">
    <h1>Add Product</h1></div>
    <div class="col-12">  -->
<!---border -->
<!-- <div class="card top-selling overflow-auto"> -->
<!---border -->
<!-- Input product and category -->

<!-- <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Product">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Category">
            </div>
          </div> -->
<!--end p & c input-->
<!-- Description area -->

<!-- <div class="form-group">
  <label for="exampleFormControlTextarea1">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>  -->

<!-- image -->
<!-- <div class="form-group">
  <label for="exampleFormControlFile1">Image</label>
  <input type="file" class="form-control-file" id="exampleFormControlFile1">
</div>

      </div>
    </div>
</main> -->

<main id="main" class="main">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="statbox widget box box-shadow">
      <div class="pagetitle">
        <h1>Product</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/product"> Product </a></li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
        </nav>
    </div>
      <form [formGroup]="ProductForm">
        <div class="widget-content widget-content-area add-manage-product-2">
          <div class="row">
            <div class="col-xl-7 col-md-12">
              <div class="card card-default">
                <div class="card-heading">
                  <h2 class="card-title"><span>GENERAL</span></h2>
                </div>
                <div class="card-body">
                  <div class="card-body">
                    <form class="form-horizontal">
                      <div class="form-group mb-4">
                        <div class="row">
                          <label class="col-md-4">Name :</label>
                          <div class="col-md-8">
                            <input class="form-control" name="name" type="text" formControlName="name">
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="row">
                          <label class="col-md-4">Description :</label>
                          <div class="col-md-8">
                            <textarea rows="4" cols="5" name="description" class="form-control"
                              formControlName="description"></textarea>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="form-group mb-4">
                      <div class="row">
                        <label class="col-md-4">Short Description :</label>
                        <div class="col-md-8">
                          <textarea rows="4" cols="5" name="description" class="form-control"></textarea>
                        </div>
                      </div>
                    </div> -->
                      <div class="form-group mb-4">
                        <div class="row">
                          <label class="col-md-4">Category :</label>
                          <div class="col-md-8">
                            <select class="form-control form-custom mb-4" name="category" formControlName="categoryId">
                              <option value="">Select Category</option>
                              <option *ngFor="let category of categoryList" value="{{category.id}}">{{category.name}}</option>
                              <!-- <option value="category2">Apparel</option>
                              <option value="category3">Clothing</option>
                              <option value="category4">Furniture</option> -->
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="row">
                          <label class="col-md-4">Brand :</label>
                          <div class="col-md-8">
                            <select class="form-control form-custom" name="brand" formControlName="brandId" >
                              <option value="">Select Brand</option>
                              <option *ngFor="let brand of brandList" value="{{brand.id}}">{{brand.name }}</option>
                              <!-- <option value="1002">{{brand.name}}</option> -->
                              <!-- <option value="brand2">Samsung</option>
                              <option value="brand3">HP</option>
                              <option value="brand4">Ford</option> -->
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="row">
                          <label class="col-md-4">Color :</label>
                          <div class="col-md-8">
                            <select class="form-control form-custom" name="color" formControlName="color">
                              <option value="">Select a Color</option>
                              <option value="color1">Black</option>
                              <option value="color2">White</option>
                              <option value="color3">Blue</option>
                              <option value="color4">Red</option>
                              <option value="color5">Green</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="row">
                          <label class="col-md-4">Measurment :</label>
                          <div class="col-md-8">
                            <select class="form-control form-custom" name="size" formControlName="measurment">
                              <option value="">Select Size</option>
                              <option value="size1">Size 1</option>
                              <option value="size2">Size 2</option>
                              <option value="size3">Size 3</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <div class="row">
                          <label class="col-md-4">Mesurment Value :</label>
                          <div class="col-md-8">
                            <input class="form-control" name="sku" type="text" formControlName="mesurmentValue">
                          </div>
                        </div>
                      </div>
                      <!-- <div class="form-group mb-4">
                      <div class="row">
                        <label class="col-md-4">Weight :</label>
                        <div class="col-md-8">
                          <input class="form-control" name="weight" type="text">
                        </div>
                      </div>
                    </div> -->
                      <!-- <div class="form-group mb-4">
                      <div class="row">
                        <label class="col-md-4">Status :</label>
                        <div class="col-md-8">
                          <select class="form-control form-custom" name="status">
                            <option value="">Please Select</option>
                            <option value="status1">In Stock</option>
                            <option value="status2">Out of Stock</option>
                          </select>
                        </div>
                      </div>
                    </div> -->
                      <!-- <div class="form-group mb-4">
                      <div class="row">
                        <label class="col-md-4">Visibility :</label>
                        <div class="col-md-8">
                          <select class="form-control form-custom" name="visibility">
                            <option value="">Please Select</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                        </div>
                      </div>
                    </div> -->
                      <!-- <div class="form-group cutom-autocomplete mb-4">
                      <div class="row">
                        <label class="col-md-4">Country of Manufacture :</label>
                        <div class="col-md-8">
                          <input id="autocomplete" class="ui-corner-all form-control ui-autocomplete-input"
                            placeholder="Type a Country..." autocomplete="off">
                        </div>
                      </div>
                    </div> -->
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-5 col-md-12">
              <div class="card card-default">
                <div class="card-heading">
                  <h2 class="card-title"><span>PRICING</span></h2>
                </div>
                <div class="card-body">
                  <form class="form-horizontal">
                    <div class="form-group mb-4">
                      <div class="row">
                        <label class="col-md-4">Price :</label>
                        <div class="col-md-8">
                          <input class="form-control" name="price" type="text" formControlName="price">
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group mb-4">
                    <div class="row">
                      <label class="col-md-4">Tax Class :</label>
                      <div class="col-md-8">
                        <select class="form-control form-custom" name="tax_class">
                          <option value="">Please Select</option>
                          <option value="tax1">None</option>
                          <option value="tax2">Shipping</option>
                          <option value="tax3">Taxable Goods</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                    <div class="form-group mb-4">
                      <div class="row">
                        <label class="col-md-4">Discount :</label>
                        <div class="col-md-8">
                          <input class="form-control" name="discount" type="text" formControlName="discount">
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group mb-4">
                    <div class="row">
                      <label class="col-md-4">Coupon :</label>
                      <div class="col-md-8">
                        <input class="form-control" name="coupon" type="text">
                      </div>
                    </div>
                  </div> -->
                    <!-- <div class="form-group mb-4">
                    <div class="row">
                      <label class="col-md-4"></label>
                      <div class="col-md-8">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck4">
                          <label class="custom-control-label" for="customCheck4">Check to Apply</label>
                        </div>
                      </div>
                    </div>
                  </div> -->
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-12"><span>Image</span></label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-4">Image :</label>
                        <div class="col-md-8">
                          <div class="mb-3">
                            <div class="custom-file">
                              <input type="file" class="form-control-file" formControlName="img" (change)="selectFile($event)">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                    <div class="row">
                      <label class="col-md-12"><span>INVENTORY</span></label>
                    </div>
                  </div> -->
                    <div class="form-group">
                      <div class="row">
                        <label class="col-md-4">QTY :</label>
                        <div class="col-md-8">
                          <input class="form-control" name="qty" type="text" formControlName="quantity">
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                    <div class="row">
                      <label class="col-md-12"><span>KEYWORDS</span></label>
                    </div>
                  </div> -->
                    <!-- <div class="form-group">
                    <div class="row">
                      <label class="col-md-4">Keywords :</label>
                      <div class="col-md-8">
                        <input class="form-control" name="keywords" type="text">
                      </div>
                    </div>
                  </div> -->
                  </form>
                </div>
              </div>
              <div class="align-center">
                <button name="singlebutton" class="btn btn-primary" (click)="AddProduct()">Add +</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>