<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <!-- <li class="breadcrumb-item"><a href="">Home</a></li> -->
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="filter">
                                <a class="icon" data-bs-toggle="dropdown">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" (click)="FilterOrder('Today')">Today</a></li>
                                    <li><a class="dropdown-item" (click)="FilterOrder('This Month')">This Month</a></li>
                                    <li><a class="dropdown-item" (click)="FilterOrder('This Year')">This Year</a></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Orders <span>| {{displayOrderText}}</span></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class='bx bx-cart'></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{displayOrderCount | number}}</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="filter">
                                <a class="icon" data-bs-toggle="dropdown">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" (click)="FilterRevenue('Today')">Today</a></li>
                                    <li><a class="dropdown-item" (click)="FilterRevenue('This Month')">This Month</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="FilterRevenue('This Year')">This Year</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Revenue <span>| {{displayRevenueText}}</span></h5>
                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <!-- <i class="bi bi-currency-dollar"></i> -->
                                        <i class='bx bx-rupee'></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>₹{{displayRevenueCount | number}}</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span
                                            class="text-muted small pt-2 ps-1">increase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Revenue Card -->
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">
                        <div class="card info-card customers-card">
                            <div class="filter">
                                <a class="icon" data-bs-toggle="dropdown">
                                    <i class='bx bx-dots-vertical-rounded'></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>
                                    <li><a class="dropdown-item" (click)="FilterCustomer('Today')">Today</a></li>
                                    <li><a class="dropdown-item" (click)="FilterCustomer('This Month')">This Month</a>
                                    </li>
                                    <li><a class="dropdown-item" (click)="FilterCustomer('This Year')">This Year</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Customers <span>| {{displayCustomerText}}</span></h5>

                                <div class="d-flex align-items-center">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class='bx bxs-user'></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{displayCustomerCount | number}}</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                            class="text-muted small pt-2 ps-1">decrease</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Customers Card -->
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card top-selling overflow-auto">
                <div class="filter">
                    <a class="icon" data-bs-toggle="dropdown"> <i class='bx bx-dots-vertical-rounded'></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" (click)="FilterOrderList('Today')">Today</a></li>
                        <li><a class="dropdown-item" (click)="FilterOrderList('This Month')">This Month</a></li>
                        <li><a class="dropdown-item" (click)="FilterOrderList('This Year')">This Year</a></li>
                    </ul>
                </div>
                <div class="card-body pb-0">
                    <h5 class="card-title">Recent Orders<span>| {{displayOrderListtext}}</span></h5>
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of displayOrderListToday | paginate:{itemsPerPage:5, currentPage:p}">
                                <td>{{order.id}}</td>
                                <td>{{order.customerName}}</td>
                                <td>{{order.name}}</td>
                                <td>{{order.amount}}</td>
                                <td scope="row">
                                    <span class="badge bg-success" *ngIf="order.status == 'Completed'"><i
                                            class="bi bi-check-circle me-1"></i> {{order.status}}</span>
                                    <span class="badge bg-danger" *ngIf="order.status == 'Not Delivered'"><i
                                            class="bi bi-exclamation-octagon me-1"></i>
                                        {{order.status}}
                                    </span>
                                    <span class="badge bg-warning text-dark" *ngIf="order.status == 'On Way'"><i
                                            class="bi bi-exclamation-triangle me-1"></i> {{order.status}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="displayOrderListToday.length >= 5" style="float: inline-end;">
                        <pagination-controls (pageChange)="p=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div><!-- End Top Selling -->
        <!-- Recent Customers -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Recent Customers <span>| Last Joined</span></h5>

                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Contact</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer  of recentCustomer">
                                <td>{{customer.id}}</td>
                                <td>{{customer.firstName + customer.lastName}}</td>
                                <td>{{customer.email}}</td>
                                <td>{{customer.phoneNumber}}</td>
                                <td>{{customer.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->
    </section>
</main>