<main id="main" class="main">

    <div class="pagetitle">
        <h1>Customer Data</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                <!-- <li class="breadcrumb-item">Tables</li> -->
                <li class="breadcrumb-item active">Category</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CategoryList</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <td scope="col">Id</td>
                                    <td scope="col">Name</td>
                                    <td scope="col">Action</td>
                                    <td scope="col">Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of  CategoryList">
                                    <td scope="row">{{category.id}}</td>
                                    <td scope="row">{{category.name}} </td>
                                    <td scope="row"> <button type="button" class="btn btn-outline-warning"
                                            (click)="updatecategory(category.id)">Update</button></td>
                                    <td scope="row"> <button type="button" class="btn btn-outline-danger"
                                            (click)="removecategory(category.id)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                        End Table with stripped rows
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>