<main id="main" class="main">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="pagetitle">
                <h1>Customer</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/customer"> Customer </a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </nav>
            </div>
            <form [formGroup]="registration">
                <div class="widget-content widget-content-area add-manage-product-2">
                    <div class="row">
                        <div class="col-xl-7 col-md-12">
                            <div class="card card-default">
                                <div class="card-heading">
                                    <h2 class="card-title"><span>Register Form</span></h2>
                                </div>
                                <div class="card-body">
                                    <div class="card-body">
                                        <form class="form-horizontal">
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Fitst Name :</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" name="firstName" type="text"
                                                            formControlName="firstName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Last Name :</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" name="lastName" type="text"
                                                            formControlName="lastName">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Email :</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" name="email" type="text"
                                                            formControlName="email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Password :</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" name="password" type="password"
                                                            formControlName="password">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Gender :</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control form-custom mb-4" name="gender"
                                                            formControlName="gender">
                                                            <option value="">Select Gender</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                            <option value="Custom">Custom</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Number :</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" name="phoneNumber" type="text"
                                                            formControlName="phoneNumber">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">DOB :</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" name="dateofbirth" type="text"
                                                            formControlName="dateofbirth">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Address :</label>
                                                    <div class="col-md-8">
                                                        <textarea rows="4" cols="5" name="address" class="form-control"
                                                            formControlName="address"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="align-center">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="Register()">Add +</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<!-- <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Category :</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control form-custom mb-4" name="category"
                                                            formControlName="categoryId">
                                                            <option value="">Select Category</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Brand :</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control form-custom" name="brand"
                                                            formControlName="brandId">
                                                            <option value="">Select Brand</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Color :</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control form-custom" name="color"
                                                            formControlName="color">
                                                            <option value="">Select a Color</option>
                                                            <option value="color1">Black</option>
                                                            <option value="color2">White</option>
                                                            <option value="color3">Blue</option>
                                                            <option value="color4">Red</option>
                                                            <option value="color5">Green</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Measurment :</label>
                                                    <div class="col-md-8">
                                                        <select class="form-control form-custom" name="size"
                                                            formControlName="measurment">
                                                            <option value="">Select Size</option>
                                                            <option value="size1">Size 1</option>
                                                            <option value="size2">Size 2</option>
                                                            <option value="size3">Size 3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="row">
                                                    <label class="col-md-4">Mesurment Value :</label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" name="sku" type="text"
                                                            formControlName="mesurmentValue">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-5 col-md-12">
                            <div class="card card-default">
                                <div class="card-heading">
                                    <h2 class="card-title"><span>PRICING</span></h2>
                                </div>
                                <div class="card-body">
                                    <form class="form-horizontal">
                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Price :</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" name="price" type="text"
                                                        formControlName="price">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-4">
                                            <div class="row">
                                                <label class="col-md-4">Discount :</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" name="discount" type="text"
                                                        formControlName="discount">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-12"><span>Image</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-4">Image :</label>
                                                <div class="col-md-8">
                                                    <div class="mb-3">
                                                        <div class="custom-file">
                                                            <input type="file" class="form-control-file"
                                                                formControlName="img">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-md-4">QTY :</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" name="qty" type="text"
                                                        formControlName="quantity">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="align-center">
                                <button name="singlebutton" class="btn btn-primary">Add +</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main> -->